body {
    font-family: 'Roboto', sans-serif;
}
h1 {
    text-align: center;
}
thead, tbody, td, tr, table {
    border: 1px solid black;
}
td {
    text-align: center;
}
th {
    padding-right: 5px;
}
h1, h2 {
    text-decoration: underline;
}
p{
    text-decoration: underline;
}